#loader-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #f3f3f3; /* Background color for the loader */
    z-index: 1000;
    transition: width .1s ease-in-out;
    h3{
       font-size: 6rem;
       font-weight: 100;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       transition: width 1s ease-in-out;
       @include breakpoint-sm{
        font-size: 4rem;
       }
    }
}

#loader-bar {
    height: 5px; /* Height of the loading bar */
    background: #272838; /* Loading bar color (adjust to your preference) */
    width: 0; /* Initial width is 0 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: width 5s ease-in-out;
}
