::selection {
    background-color: #666776; /* Red background color */
    color: #fff; /* Text color for selected text */
}

.pointer{
    cursor: pointer !important;
}

b, strong {
    font-weight: bold !important;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 7px; /* Set the width of the scrollbar */
    @include breakpoint-md{
        display: none;
    }
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Set the background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #989fce; /* Set the color of the scrollbar thumb */
  }
  
  /* Firefox */
  /* Note: Firefox uses a different approach to scrollbar styling */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  
  /* Set the color of the scrollbar thumb and track in Firefox */
  